.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    flex: 1;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .movie-card {
    width: 220px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .movie-card img {
    width: 180px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .movie-card h3 {
    font-size: 16px;
    margin: 0;
  }
  
  .movies-scroll-container {
    display: flex;
    overflow-x: auto;
    animation: scrollMovies 30s linear infinite;
    padding: 10px;
    width: 100%;
  }
  
  body {
    background-color: white;
  }
  
  @keyframes scrollMovies {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  